.logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}


  body {
    overflow-y: scroll;
  }


  .home-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .right-column-ghost {
    width: 30%;
    margin-right: 5%;
  }

  .right-column {
    width: 20%;
    position: fixed;
    right: 0;
  }

  @media screen and (max-width:768px){
    .post-list, .profile-post-list, .group-content {
      padding-bottom: 5vh !important;
    }

    .post-list {
      min-width: 90%;
      max-width: 90%;
    }

    .right-column {
      display: none;
    }

    .right-column-ghost {
      display: none;
    }
  }

.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-container h1 {
    text-align: center;
    margin: 20px 0;
}

.map-wrapper {
    flex: 1;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}