@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Style de base pour le contenu principal */
.main-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 48px); /* Soustrait la hauteur du header */
  overflow: auto; /* Permet le défilement du contenu */
}

/* Style pour le header fixe */
.app-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Assure que le header est au-dessus des autres éléments */
  height: 48px;
  width: 100%;
  background-color: #161616;
  color: #f4f4f4;
}

/* Styles pour la page de login */
.login {
  border: var(--selected-color) 2px solid;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles pour les conteneurs */
.content {
  padding: 16px;
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .content {
    width: 33%;
  }
}

/* Style pour le conteneur */
.container {
  padding: 0px;
  width: 100%;
  margin: auto;
  text-align: center;
}